%h1 אישורי הגעה

%p
  =button_to 'CSV', approvals_path(format: "csv"), class:"btn btn-primary", method: :get

%table.table.table-striped
  %tr
    %th שם
    %th מספר אורחים
    %th הערות

  - @approvals.each do |approval|
    %tr
      %td= approval.name
      %td= approval.guests
      %td= approval.comments

