.image-center
  %h1 החתונה של קירה ואילן
  .row
    .col-md-8
      %figure.sp-effect2.active.animated.fadeInRight
        %a{href:"gallery"}
          %img{alt:"", src:"/berlin.jpg"}
    .col-md-4
      %img{alt:"September 4th", src:"/sep4.jpg"}
