%h1 מקומות לינה
%h2 בצימרים
%p
  במושב יש מספר צימרים - 
  %a{href:"http://www.zimmer.co.il/zimmergamla/"} לינק לצימרים בגמלא.
  אפשרויות לינה נוספות באיזור במושבים 
  %a{href:"http://www.zimmer.co.il/zimmeramot/"}רמות
  או
  %a{href:"http://www.zimmer.co.il/zimmerhadness/"}חד נס.
  
%h2 במועדון
%p
  במועדון (מקום החתונה) נפרוס מזרונים לכל מי שרוצה לשים את הראש עד הבוקר.
  במקום יש שירותים, וקפה יחכה לכם בבוקר.
  %br
  אפשר לישון בתוך המועדון (עם המזגן) או בדשא הירוק מחוצה לו עם הנוף לכנרת.

%h2 בשטח
%p
  מי שרוצה לנצל את ההזדמנות ולישון בגולן אפשר לישון בטבע במקומות קרובים למושב:
  %ul
    %li מצפה גמלא
    %li מעיין כנף
    %li חניון יהודיה
    %li חופי הכנרת


