%h1 מקומות לינה
%h2 צימרים
%p
  במושב יש מספר צימרים - 
  %a{href:"http://www.zimmer.co.il/zimmergamla/"} לינק לצימרים בגמלא.
  אופציות נוספות ללינה הם במושבים באיזור כמו
  %a{href:"http://www.zimmer.co.il/zimmeramot/"}רמות
  או
  %a{href:"http://www.zimmer.co.il/zimmerhadness/"}חד נס.
  
%h2 לינה במועדון
%p
  במועדון, צמוד לאירוע, נפרוס מזרונים לכל מי שרוצה לשים את הראש עד הבוקר.
  במקום יש שירותים, וקפה יחכה לכם בבוקר.
%h2 לינת שטח
%p
  מי שרוצה לנצל את ההזדמנות ולישון בגולן אפשר לישון בטבע במקומות קרובים למושב:
  %ul
    %li מצפה דליות
    %li מעיין כנף
    %li חניון יהודיה
    %li חופי הכנרת

