%div{style:"text-align:center;"}
  %h2 אילן וקירה מתחתנים!
  %p
    שמחים ומתרגשים להזמינכם לחגוג עמנו ביום נישואינו
  %p
    שיתקיים במועדון במעלה גמלא
  %p{style:"letter-spacing:4px;"}
    ביום חמישי, ט' באלול תשע"ה,
    %strong 4.9.2014

  %p
    נשמח מאוד לראותכם!

  %p
    %img{alt:"", src:"/fancy-footer.png"}
